@import '../../libs/variables';

.box{
  position: relative;
}

.input {
  padding: 10px;
  width: 52px;
  height: 52px;
  background: none;
  border: 4px solid $main-color;
  border-radius: 50px;
  box-sizing: border-box;
  font-size: 26px;
  color: $main-color;
  outline: none;
  transition: .5s;
  
}
.box:hover {
  input {
    width: 350px;
    background: $white-color;
    border-radius: 10px;
    @media (max-width: 650px) {
      width: 200px;  
    }
  }
  .close {
    opacity: 1;
  }
  
}
.box {
  i {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translate(-50%,-50%);
    font-size: 26px;
    color: #ffd52d;
    transition: .2s;
    @media (max-width: 650px) {
      top: 50%;
      left: 35%; 
    }
    @media (max-width: 450px) {
      top: 50%;
      left: 36%; 
    }
    img {
      background-color: #fff;
    }
  }
  
}
.box:hover i{
  opacity: 0;
  z-index: -1;
}

.close {
  position: absolute;
  top: 15px;
  right: 10px;
  opacity: 0;
  @media (max-width: 650px) {
    left: 157px;
  }
}







// @media (max-width: 525px) {
//     .input_search {
//       width: 150px;
//     }
//   }