@import '../../libs/variables';

.order {
    width: 500px;
    display: grid;
    text-align: center;
    grid-auto-rows: min-content;
    gap: 20px;
}

.info {
    width: 400px;
    display: grid;
    justify-items: center;
}

.selector {
    background-color: $gray-color;
    display: grid;
    gap: 10px;
    padding: 5px;
    border-radius: $main-radius10;
    height: 110px;
}
.active {
    background-color: $white-color;
    border-radius: $main-radius10;
}
ul {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
}

li {
    padding: 10px;
    text-align: center;
    height: 40px;

}
.to_cart {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items:center;
}

.price {
    font-weight: 900;
    font-size: 20px;
}

.bye_btn {
    background-color: $white-color;
    color: $main-color;
    font-size: 18px;
    border-radius: $main-radius20;
    display: inline-grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 7px;
    padding: 7px 10px;;
}

.count {
    background-color: $main-color;
    color: $white-color;
    border-radius: $main-radius20;
    padding: 0 7px;
}

.plus {
    font-size: 30px;
    font-weight: 900;
}





.order {
    display: grid;
}

.title {
    font-size: 22px;
    font-weight: 800
}
.compound {
    font-size: 17px;
    font-weight: 600;
    text-align: center;
}