@import './libs/variables';

.app_wrapper {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  display: grid;
  
  gap: 15px;
  max-width: 1450px;
  min-width: 375px;
  margin: 0 auto;
  background-color: $white-color;

  @media (min-width: 1517px) {
    grid-template-columns: 1450px;  
    
  }
}

